/* Importando las fuentes -- nada recomendable hacerlo de esta manera */
@font-face {
    font-family: "Ubuntu-bold";
    src: url(../font/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: "Ubuntu-bold-italic";
    src: url(../font/Ubuntu/Ubuntu-BoldItalic.ttf);
}
@font-face {
    font-family: "Ubuntu-italic";
    src: url(../font/Ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: "Ubuntu-light";
    src: url(../font/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: "Ubuntu-light-italic";
    src: url(../font/Ubuntu/Ubuntu-LightItalic.ttf);
}
@font-face {
    font-family: "Ubuntu-medium";
    src: url(../font/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: "Ubuntu-medium-italic";
    src: url(../font/Ubuntu/Ubuntu-MediumItalic.ttf);
}
@font-face {
    font-family: "Ubuntu-regular";
    src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu-regular', sans-serif;
}
:root{
    --blue: #287bff;
    --white: #fff;
    --white-2: #e9e9e9;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --red-1: #DC3545;
    --red-2: #EA868F;
    --green-1: #198754;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --yellow-2: #c9ff07;
    --blue-2: #9EC5FE;
    --blue-3: #141E30;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* MENU DE NAVEGACION */

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    /* background: var(--blue); */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 5px var(--black1);
    /* TIP: uso de bordes para simular un margen, en este caso el margen izquierdo */
    border-left: 10px solid transparent;
    transition: 0.5s;
    /* TIP: por ser ser responsive no se permitira el scroll en el menu de navegacion */
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
}
.navigation ul li{
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:nth-child(1){
    margin-bottom: 10px;
    pointer-events: none;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li a{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: #141E30;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon{
    font-size: 1.25em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* Curvas salientes */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
    z-index: -10;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
    z-index: -10;
}

/* MAIN */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    /* z-index: -10; */
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    color: var(--blue);
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid var(--black2);
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    /* box-shadow: 1px 0 2px var(--black1); */
}

.search label ion-icon{
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Submenu de configuracion de usuario */

.userModalConfig{
    position: absolute;
    z-index: -100;
    top: 70px;
    right: 10px;
    display: none;
    background: var(--grey);
    box-shadow: 0 7px 25px rgba(0,0,0,0.20);
    padding: 1em;
    border: 1px solid var(--white-2);
    border-radius: 20px;
    transition: .2s;
}

.userModalConfig.active{
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.userModalConfig .userInfo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.userModalConfig .closeSession{
    position: relative;
    text-align: center;
}

.closeSession a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeSession .title{
    line-height: 25px;
}

.closeSession .icon{
    font-size: 1.10em;
    margin-right: 5px;
}

.userModalConfig hr{
    margin: 20px 0;
}

.userModalConfig .userInfo .userImg{
    position: relative;
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid var(--black1);
}

.userName span{
    display: block;
    width: 100%;
}

.userModalConfig .userInfo .userName{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    border-left: 10px solid transparent;
}

.userModalConfig .userInfo .userName span:first-child{
    font-weight: 600;
    font-size: 16px;
    color: var(--blue);
}

.userModalConfig .userInfo .userName span:last-child{
    font-weight: 600;
    font-size: 14px;
    color: var(--black2);
}

.userModalConfig .userInfo .userImg img:first-child{
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userModalConfig .userInfo .userImg .upload{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--white);
    bottom: 3%;
    right: 3%;
    z-index: 10;
    width: 35%;
    height: 35%;
    font-size: 1em;
    border-radius: 50%;
    /* border: 1px solid var(--black1); */
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    color: var(--blue-3);
    transition: .1s;
}

.userModalConfig .userInfo .userImg .upload:hover {
    border: 1px solid black;
}

.userModalConfig .closeSession a{
    font-weight: 600;
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
}

.userModalConfig .closeSession a:hover{
    text-decoration: underline;
}

/* CardBox */
/* TIP: El posicionamiento relativo es muy util para posicionar otros elementos dentro de un determinado contenedor */
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cardBox h2{
    color: var(--blue);
}

.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.10);
    margin-bottom: 30px;
}

.card.disabled{
    display: none;
}

.card div{
    margin-bottom: 10px;
}

.card .taskName{
    font-family: 'Ubuntu-light', sans-serif;
    font-weight: 100;
    font-size: 1.2em !important;
    color: var(--blue);
}

.card .taskDescription{
    font-size: .9em;
    color: #666666;
}

.card .taskDate{
    text-transform: capitalize;
    font-size: .8em;
    font-weight: bold;
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
}

.card .taskDate.lost{ background: var(--red-1); }
.card .taskDate.today{ background: var(--orange); }
.card .taskDate.tomorrow{ background: var(--yellow); }
.card .taskDate.week{ background: var(--yellow-2); }
.card .taskDate.month{ background: var(--blue-2); }

.card .taskActions{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    grid-gap: 10px;
}

.card .taskActions.disabled{
    display: none;
}

.taskActions a{
    color: var(--blue);
    font-size: 1.25em;
    text-decoration: none;
}

/* Modal para subir foto */

.modalImageUpload{
    display: none;
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0,0,0,0.6);
    transition: .3s;
}

.modalImageUpload.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImageUpload-form{
    display: block;
    width: 480px;
    padding: 1em;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.10);
}

.modalImageUpload-form form{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.modalImageUpload-form ul{
    position: relative;
    top: 0;
    left: 0;
    list-style: none;
    width: 100%;
}

.modalImageUpload-form li{
    width: 100%;
    margin-bottom: 1em;
}

.modalImageUpload-form ul hr{
    margin-bottom: 1em;
}

.modalImageUpload-header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}

.modalImageUpload-header .close{
    width: fit-content;
    height: fit-content;
    font-size: 1.5em;
    color: var(--red-1);
    cursor: pointer;
}

.modalImageUpload-header header{
    white-space: nowrap;
}

.imageProfile{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.imageProfile img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modalImageUpload-form .input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.modalImageUpload-form .input .inputFile input{
    display: none;
}

.modalImageUpload-form .input .inputFile .btnInputImage {
    font-size: .8em;
    color: var(--blue-3);
    background: var(--white);
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 5px 10px;
}

.modalImageUpload-form .input .inputFile .btnInputImage.valid{
    background: #02ff899d;
    border: none;
}
.modalImageUpload-form .input .inputFile .btnInputImage.invalid{
    background: var(--red-2);
    border: none;
}

.modalImageUpload-form .input .inputFile .btnInputImage:hover{
    background: var(--blue);
}

.modalImageUpload-form .inputSubmit{
    text-align: end;
}

.modalImageUpload-form .inputSubmit input:disabled{
    pointer-events: none;
    background: #ccc;
    border: #aaa;
}

.modalImageUpload-form .inputSubmit input, .btnAddTask{
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    padding: 5px 10px;
    background: var(--white);
    color: var(--black1);
    cursor: pointer;
    transition: .1s;
}

.modalImageUpload-form .inputSubmit input:hover, .btnAddTask:hover{
    background: var(--blue);
    color: var(--black);
    border: 1px solid var(--blue);
}

.modalImageUpload-form .inputSubmit input:active, .btnAddTask:active{
    background: var(--blue);
    color: var(--black);
    border: 1px solid var(--grey);
}

/* Formulario para agregar nuevas tareas */

.newTaskContainer{
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.newTaskContainer header{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.newTaskContainer header span{
    font-size: .7em;
    font-weight: 600;
    color: var(--black2);
    margin-left: 5px;
    letter-spacing: 1px;
    align-self: flex-end;
    text-transform: capitalize;
}

.newTask{
    display: block;
    width: 100%;
}

.newTask.disabled{
    display: none;
}

.newTaskContainer .newTask .btnNewTask{
    text-align: start;
    color: var(--black2);
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.newTask .icon{
    font-size: 1.25em;
    color: var(--blue);
    margin-right: 10px;
}

.newTask .title{
    font-size: 16px;
}

.newTaskForm{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 20px;
    background: var(--grey);
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    border: 1px solid rgba(70, 69, 69, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.newTaskForm.disabled{
    display: none;
}

.newTaskForm .hiddenInputs{ display: none; }

.newTaskForm input,
.newTaskForm textarea{
    display: block;
    background: transparent;
    outline: none;
    margin-bottom: 1.5em;
}

.taskName,
.taskDescription{
    width: 100%;
}

.taskName{
    font-size: 1em;
    font-weight: 600;
}

.taskDescription{
    resize: none;
}

.taskName, 
.taskDescription, 
.taskDate{
    border: none;
}

.taskName::placeholder{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--black2);
}

.taskDescription::placeholder{
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--black2);
}

.dateSubmitContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dateSubmitContainer .btnTaskContainer{
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btnCancelTask{
    border: 1px solid var(--red-1);
    border-radius: 5px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    padding: 5px 10px;
    background: var(--white);
    color: var(--black1);
    transition: .1s;
    width: fit-content;
    height: fit-content;
}

.btnCancelTask:hover{
    background: var(--red-2);
    color: var(--black);
}

.btnCancelTask:active{
    background: var(--white);
    color: var(--black);
}

/* Error al subir imagen de perfil */

.error{
    width: 280px;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    background: var(--red-2);
    border-radius: 10px;
    border: 1px solid var(--red-1);
}

.error .line{
    border: 1px solid var(--black1);
    margin-bottom: 10px;
}

.error ul{
    position: relative;
    width: 100%;
    list-style: none;
}

.error ul li {
    margin-bottom: 0.8em;
}

.error ul li:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error ul li .headerError{
    font-weight: 600;
}

.error ul li .btnClose{
    font-size: 1.25em;
    color: var(--red-1);
    cursor: pointer;
}

/* responsive design */

@media (max-width: 991px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    /* .cardBox{
        grid-template-columns: repeat(2, 1fr);
    } */
}

/* @media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .status.inprogress{
        white-space: nowrap;
    }
} */

@media (max-width: 480px){
    /* .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .detailsHeader h2, 
    .customersHeader h2{
        font-size: 20px;
    } */
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 1010;
    }
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }

}
